@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Gill Sans Nova";
    src: url('../fonts/GillSansNova-Bold.ttf');
    font-weight: 800;
}

h1,
h2,
h3,
h4 {
    font-family: "Gill Sans Nova", sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 64px;
    line-height: 64px;
}

h2 {
    font-size: 48px;
    line-height: 56px;
}

h3 {
    font-size: 28px;
    line-height: 36px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

html {
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    background-color: #ffffff;
}
body {
    overflow-x: hidden;
    background-color: #ffffff;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container {
    max-width: 1440px;
    padding: 0 120px;
    margin: 0 auto;
    min-width: 360px;
}

.section {
    padding: 100px 0;
}

a {
    font-weight: 400;
    font-size: 14px;
    color: #090909 !important;
    transition: .1s;
    text-decoration: none !important;
    border-bottom: 1px solid transparent
}

a:hover {
    font-weight: 700;
    color: #D1C18F !important;
}

a:active {
    font-weight: 700;
    color: #C5B275;
    border-bottom: 1px solid #C5B275
}

.button {
    padding: 11px 16px;
    height: 44px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Стандартный синтаксис */
    border-radius: 8px;
    transition: .2s;

}

.button {
    padding: 11px 16px;
    height: 44px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* Стандартный синтаксис */
    border-radius: 8px;
    transition: .2s;
    border: none;

}

.btn-center {
    max-width: fit-content;
    margin: 0 auto;
}

.button.size-l {
    padding: 16px;
    font-size: 16px;
    width: 100%;
}

.primary-btn {
    background: #C5B275;
}

.primary-btn {
    background: #C5B275;
}

.primary-btn:hover {
    background: #D1C18F;
}

.primary-btn:active {
    background: #C5B275;
}

.secondary-btn {
    border: 2px solid #C5B275;
    color: #C5B275;
}

.secondary-btn:hover {
    border: 2px solid #D1C18F;
    color: #D1C18F;
}

.secondary-btn:active {
    border: 2px solid #C5B275;
    color: #C5B275;
}

.header-nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 17px;
}

.header-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    gap: 64px;
}

header {
    border-bottom: 1px solid #CCCCCC
}

.logo {
    height: 44px;
}

.logo-mini {
    height: 24px;
    width: auto;
}

.logo-mini img {

    width: auto;
}

.header-search {
    flex-grow: 2;
    width: 100%;
    position: relative;
}

.header-search input {
    width: 100%;
    height: 44px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;

}

input {
    width: 100%;
    height: 44px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;

}

input:focus {
    outline-style: none;
    border: 1px solid #C5B275
}

.header-search::after {
    content: '';
    position: absolute;
    display: block;
    right: 16px;
    top: calc(50% - 12px);
    z-index: 2;
    width: 24px;
    height: 24px;
    background: url('../images/icons/search.svg')50% / cover;
}

.header-search input:focus {
    outline-style: none;
    border: 1px solid #C5B275
}

.header-wrapper-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-btn {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.header-icon-btn {
    position: absolute;
    width: 12.5px;
    height: 12.5px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F55D6D;
    font-size: 8px;
    color: #ffffff;
    font-weight: 700;
    top: 3px;
    right: 3px;

}

.lang-btn {
    height: 44px;
    border-radius: 8px;
    padding: 10px 16px;
    cursor: pointer;
}

.lang-choose {
    width: 24px;
    height: 24px;
    border-radius: 24px;
}

.lang-choose[lang='en'] {
    background: url('../images/lang-en.png') 50% / 150%;
}

.lang-choose[lang='cz'] {
    background: url('../images/lang-cz.png') 50% / 150%;
}

.header-search input:focus+.header-search-history {
    opacity: 1;
    height: auto;
    pointer-events: all;

}

.header-search-history {
    position: absolute;
    width: 100%;

    top: calc(100% + 8px);
    border: 1px solid #CCCCCC;
    padding: 8px 16px;
    background: #ffffff;
    z-index: 2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 0;
    opacity: 0;
    pointer-events: none;

}

.history-title {
    height: 44px;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 700;
    font-size: 18px;
    gap: 16px;
}

.clean-history {
    font-size: 14px;
    text-transform: uppercase;
    color: #C5B275;
    cursor: pointer;
}

.history-list,
.search-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.close-history-item {
    width: 24px;
    height: 24px;
    background: url('../images/icons/close.svg') 50% / cover;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.history-list-item,
.search-list-item {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 40px;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;

}

.history-list-item::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/icons/clock.svg') 50% / cover;
    margin-right: 12px;
}

.search-list-item::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url('../images/icons/search.svg') 50% / cover;
    margin-right: 12px;
    opacity: 0.4;
}

.section-header-product {
    display: flex;
    padding: 0 95px;
    gap: 40px;
    align-items: stretch;
}

.section-header-product-img {
    /* height: 248px; */

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
}

.section-header-product-img img {
    width: 100px;
    height: 100px;
}

.swiper-button-prev:after {
    width: 24px;
    height: 24px;
    background: url('../images/icons/icon-prev.svg')50% / cover;
}

.swiper-button-next:after {
    width: 24px;
    height: 24px;
    background: url('../images/icons/icon-next.svg')50% / cover;
}

.section-header-product-wrapper {
    max-width: 500px;
    width: 100%;
    flex-grow: 2;
    padding: 8px 0;
}

.section-header-product-desc {
    font-weight: 400;
    margin-top: 24px;
    line-height: 24px;
    font-size: 16px;
}


.btn-group {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    width: 80%;

}

.swiper-button-next,
.swiper-button-prev {
    color: transparent !important;
}

.swiper-pagination {
    display: none;
}

.categories-item {
    height: 300px;
    position: relative;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    overflow: hidden;
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    max-width: 285px;

}

.categories-item-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -1;

}

.categories-items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 0;
}

.categories-item {
    background: url('../images/product.png') 50% 40px / 150px no-repeat;
}

.product-item {
    min-width: 266px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    scroll-snap-align: center;

}

.product-items {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 40px 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.product-item-img {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    height: 250px;
    max-width: 100%;
}

.product-item-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.product-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.product-star {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #C5B275;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-star::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: url('../images/icons/star.svg') 50% / cover;
}

.product-item-price {
    font-weight: 700;
    font-size: 18px;
    color: #C5B275;
}

.product-item-desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-btn-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.btn-click-buy::before {
    width: 24px;
    height: 24px;
    content: '';
    background: url('../images/icons/mouse-pointer.svg') 50% / cover;
}

.btn-add-cart::before {
    width: 24px;
    height: 24px;
    content: '';
    background: url('../images/icons/shopping-cart-empty.svg') 50% / cover;
}

.blog-container {
    padding: 40px 0;
}

.blog-items {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.blog-item-img img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.blog-item {
    max-width: 386px;
    min-width: 266px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    scroll-snap-align: center;
}

.blog-item-img {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    height: 250px;
    background: url('../images/product.png') 50% / 100px no-repeat;
}

.blog-item-desc {
    padding-right: 0.5rem;
}

.blog-item-desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-form {
    display: flex;
    gap: 60px;
}

.subscribe-container {
    display: flex;
    flex-direction: column;
}

.subscribe-form-input-container {
    display: flex;
    gap: 20px;
}

.subscribe-form-input-container>* {
    width: 100%;
}

.subscribe-container {
    display: flex;
    flex-direction: column;
    gap: 28px;

    flex-grow: 2;
}

.privacy-form-desc {
    font-size: 12px;
    color: #999EAD;
    text-align: end;
    margin-top: 16px;
}

.input-email {
    position: relative;
    display: flex;
    align-items: center;
}

.input-email::after {
    position: absolute;
    content: '';
    right: 16px;
    width: 24px;
    height: 24px;
    background: url('../images/icons/email.svg') 50% / cover;
}

.footer {
    border-top: 1px solid #CCCCCC;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: start;

}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.social-links-icons {
    margin-top: 24px;
    display: flex;
    gap: 20px;
}

.social-links {
    margin-top: 24px;
}

.social-links-icon {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-wrapper a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.site-maps-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.popup {
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #09090965;
    transition: 0.2s;
}

.popup.hidden, .popup-menu.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup-subscribe {
    width: 95%;
    max-width: 455px;
    padding: 40px;
    background: #ffffff;
    padding-top: 74px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    position: relative;
}

.close-popup {
    width: 24px;
    height: 24px;
    position: absolute;
    background: url('../images/icons/close-black.svg') 50% / cover;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.swiper-pagination {
    bottom: var(--swiper-pagination-bottom, -30px) !important;
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #C5B275 !important;
}

.header-mobile {
    display: none;
}

.btn-burger-menu {
    padding: 10px;
}

.header-mobile {
    padding-bottom: 16px;
}
.popup-menu {
    position: fixed;
    background-color: #F5F5F5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5; 
}
.popup-menu-header {
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 16px;
}
.close-menu-popup {
    width: 24px;
    height: 24px;
    background: url('../images/icons/close-black.svg') 50% / cover;
}
.popup-menu-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 172px;
    margin: 0 auto;
    padding: 16px;
}
.popup-menu-items .header-nav-links {
    flex-direction: column;
}

@media (max-width: 1200px) {
    .swiper-pagination {
        display: block;
    }

    .container {
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }
    .section {
        padding: 40px 0;
    }
}

@media (max-width: 900px) {
    .section-header-product {

        padding: 0;

    }
    html {
        font-size: 14px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }

    .swiper {
        width: 90%;
        
        overflow: visible !important;

    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    .section-header-product {
        flex-direction: column;
        padding: 0 10px;
        gap: 16px;
    }
    .section-header-product-img {
        height: 40vh;
    }
    .section-header-product-title h1 {
        font-size: 20px;
        line-height: 28px;
    }
    .section-header-product-desc {
        font-weight: 400;
        margin-top: 8px;
        line-height: 22px;
        font-size: 14px;
    }
    .btn-group {
        margin-top: 16px;
        display: flex;
        gap: 20px;
        width: 100%;
    }
    .btn-group > .button {
        width: 100%;
    }
    .section-header-product-wrapper {
       max-width: 100%;
    }
    h2 {
        font-size: 28px;
        line-height: 32px;
    }
    h3 {
        font-size: 24px;
        line-height: 36px;
    }
    .categories-item {
        background: none;
        height: 166px;
        justify-content: center;
    }
    .categories-item img {
        display: none;
    }
    .blog-item-img {
        height: 161px;
    }
    .subscribe-form-input-container {
        flex-direction: column;
    }
    .privacy-form-desc {
        text-align: center;
    }
    .footer {
        position: relative;
    }
    .footer-container {
        
        flex-direction: row-reverse;
        align-items: start;
    }
    .footer-wrapper .logo-mini {
        position: absolute;
        top: 40px;
        left: 15px;
    }
    .social-links {
        margin-top: 0;
        max-width: 172px;
    }
}
@media (max-width: 730px) {
    .categories-items {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        padding: 40px 0;
        flex-wrap: wrap;
    }
    .categories-item {
        width: 48%;
        max-width: none;
    }
    .container {
        width: 90%;
    }
    .product-items {
        gap: 8px;
    }
    .product-item {
        min-width: 150px;
        text-align: center;
        position: relative;
    }
    .product-item-img {
        height: 150px;
        
    }
    .product-star {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    .product-reviews {
        display: none;
    }
    h4 {
        font-size:20px;
        line-height: 28px;
    }
    .product-item-desc-title {
        position: absolute;
        top: 110px;
        width: 100%;
    }
    .section-form {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .subscribe-desc {
        font-size: 16px;
    }
    .footer-container {
        flex-direction: column-reverse;
        gap: 40px;
    }
    .popup-menu-items {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 95%;
        margin: 0 auto;
        padding: 16px;
    }
}